absl-py==1.4.0
accelerate==0.19.0
affine==2.4.0
aiobotocore==2.4.2
aiofiles==22.1.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
aiosqlite==0.18.0
antlr4-python3-runtime==4.8
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-record==0.2.0
arrow==1.2.3
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atari-py==0.2.9
attrs==22.2.0
Babel==2.11.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4==4.11.2
bleach==6.0.0
bokeh==2.4.1
boto3==1.24.59
botocore==1.27.59
cachetools==5.3.0
casadi==3.5.5
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==3.0.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==1.6.0
comm==0.1.2
contourpy==1.0.7
control==0.9.1
coverage==7.1.0
crc32c==2.3.post0
cycler==0.11.0
Cython==0.29.33
datasets==2.10.1
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1674522353161/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
descartes==1.1.0
dill==0.3.6
distlib==0.3.6
dm-tree==0.1.8
docker==6.0.1
etils==1.3.0
exceptiongroup==1.1.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
-e git+https://github.com/ziwenzhuang/exptools@2be8f4c859bd3ab75682847804e3cee792b72e92#egg=exptools
fastjsonschema==2.16.2
filelock==3.9.0
Fiona==1.9.1
Flask==2.2.3
flatbuffers==23.1.21
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.1.0
future==0.18.1
gast==0.4.0
geopandas==0.12.2
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.59.0
greenlet==2.0.2
grpcio==1.43.0
grpcio-tools==1.43.0
guppy3==3.1.2
gym==0.18.3
h11==0.14.0
h5py==3.8.0
huggingface-hub==0.12.0
hydra-core==1.1.0rc1
identify==2.5.18
idna==3.4
imageio==2.0.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1672612343532/work
importlib-resources==5.12.0
iniconfig==2.0.0
-e git+ssh://git@github.com/Tsinghua-MARS-Lab/InterSim-Dev.git@47937726da345ba806b289c907c76476cbb0c5e8#egg=interactive_sim&subdirectory=simulator
ipykernel==6.21.2
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1680185408135/work
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.5.1
jupyter-events==0.5.0
jupyter-ydoc==0.2.2
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1675178684608/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1675109852367/work
jupyter_server==2.2.1
jupyter_server_fileid==0.6.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.19.0
keras==2.11.0
kiwisolver==1.4.4
libclang==15.0.6.1
locket==1.0.0
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mistune==2.0.5
mock==5.0.1
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.4
multiprocess==0.70.14
munch==2.5.0
nb-conda-kernels @ file:///home/conda/feedstock_root/build_artifacts/nb_conda_kernels_1667060622050/work
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
nodeenv==1.7.0
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.21.5
-e git+https://github.com/motional/nuplan-devkit.git@72d0f561a08254e7d07cea14e89b13d542b97966#egg=nuplan_devkit
oauthlib==3.2.2
omegaconf==2.1.0rc1
opencv-python==4.5.1.48
opt-einsum==3.3.0
optional-django==0.1.0
outcome==1.2.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd==1.4.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.2.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1675735718929/work
plotly==5.13.0
pluggy==1.0.0
pre-commit==3.0.4
prometheus-client==0.16.0
promise==2.3
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
protobuf==3.19.6
psutil==5.9.4
ptvsd==4.3.2
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py==1.11.0
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyDeprecate==0.3.0
pygeos==0.14
pyglet==1.5.15
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1672682006896/work
pyinstrument==4.4.0
pyogrio==0.5.1
pyparsing==3.0.9
PyPrind==2.11.3
pyproj==3.4.1
pyquaternion==0.9.9
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.2.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger==2.0.5
pytorch-lightning==1.3.8
pytz==2022.7.1
PyWavelets==1.4.1
PyYAML==5.4.1
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1673612650067/work
qtconsole==5.4.0
QtPy==2.3.0
rasterio==1.3.6
ray==2.2.0
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
responses==0.18.0
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
-e git+ssh://git@github.com/ZiwenZhuang/rlresearch.git@602d61eef52fe46163c43692fc7d0c7f15835a14#egg=rlpyt
rsa==4.9
Rtree==1.0.1
s3fs==2023.1.0
s3transfer==0.6.0
scipy==1.9.1
selenium==4.8.0
Send2Trash==1.8.0
shapely==2.0.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.0
snuggs==1.4.7
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.2.post1
SQLAlchemy==1.4.45
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
sympy==1.11.1
tenacity==8.2.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow==2.11.0
tensorflow-addons==0.20.0
tensorflow-datasets==4.9.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.13.0
termcolor==2.2.0
terminado==0.17.1
testbook==0.4.2
threadpoolctl==3.1.0
tifffile==2023.4.12
timm==0.6.12
tinycss2==1.2.1
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.9.0+cu111
torch-scatter==2.0.9
torchmetrics==0.7.2
torchvision==0.10.0+cu111
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1666788587690/work
tqdm==4.64.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
-e git+ssh://git@github.com/Tsinghua-MARS-Lab/transformer4planning.git@0a5003d4eda7fb9d9ebedb4edd7b99cbc0e8bfc4#egg=transformer4planning
transformers==4.27.2
trimesh==3.21.6
trio==0.22.0
trio-websocket==0.9.2
typeguard==2.13.3
typer==0.7.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
ujson==5.7.0
-e git+ssh://git@github.com/Tsinghua-MARS-Lab/InterSim-Dev.git@47937726da345ba806b289c907c76476cbb0c5e8#egg=UNKNOWN&subdirectory=simulator/prediction/M2I/relation_predictor/src
uri-template==1.2.0
urllib3==1.26.14
virtualenv==20.19.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.2
widgetsnbextension==4.0.5
wrapt==1.14.1
wsproto==1.2.0
xeus-python-shell @ file:///home/conda/feedstock_root/build_artifacts/xeus-python-shell_1661244912601/work
xxhash==3.2.0
xyzservices==2022.9.0
y-py==0.5.5
yarl==1.8.2
ypy-websocket==0.8.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1675982654259/work
